<!DOCTYPE html>
<html>
  <head>
    <title>Rails99cats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1>All of Our Kitties</h1>
  </header>
    <%= yield %>
  <p>The End</p>
  </body>
</html>
